# Entornos virtuales e IA
.antigravitycli/
.gemini/
venv/
env/
__pycache__/
*.pyc
.env

# Archivos de la tarea o planeación que no pertenecen al código base
taller.md
PreInforme_DFS_*.md
walkthrough.md
*.sqlite3
*.db
/namenode/data/
/datanode/data/
